[submodule "src/github.com/gorilla/mux"]
	path = src/github.com/gorilla/mux
	url = git@github.com:gorilla/mux.git
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = git@github.com:lib/pq.git
